
{% extends "searchResults.html" %}
{% block found %}
<br><br>
<!--
<div class="col-xs-6">
	<table border = 1>
		<thead>
			<td>Name</td>
			<td>Address</td>
			<td>City</td>
			<td>Pincode</td>
			<td>Type</td>
		</thead>

		{% for row in rows %}
			<tr>
				<td>{{row["name"]}}</td>
				<td>{{row["addr"]}}</td>
				<td>{{row["city"]}}</td>
				<td>{{row["pin"]}}</td>
				<td>{{row["Type"]}}</td>
			</tr>
		{% endfor %}
	</table>
</div>
<br><br><br><br><br>
!-->
<div class="panel-group" id="accordion">
{% for row in rows %}
  <div class="panel panel-default" style="width:75%" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a >
        {{row["name"]}}</a>
      </h4>
    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table>
      <tr >{{row["pin"]}}</tr>
        </table>
        {% set temp = row["name"] %}
        <button class="btn" onclick="location.href='{{ url_for('item',name=temp)}}'" type="submit">Go to this Item</button>

    </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
