{% extends "searchResults.html" %}
{% block found %}
<br><br>
<!--
<div class="col-xs-6">
	<table border = 1>
		<thead>
			<td>Name</td>
			<td>Address</td>
			<td>City</td>
			<td>Pincode</td>
			<td>Type</td>
		</thead>
		
		{% for row in rows %}
			<tr>
				<td>{{row["name"]}}</td>
				<td>{{row["addr"]}}</td>
				<td>{{row["city"]}}</td>
				<td>{{row["pin"]}}</td>
				<td>{{row["Type"]}}</td>
			</tr>
		{% endfor %}
	</table>
</div>
<br><br><br><br><br>
!-->
<div class="panel-group" id="accordion">
{% for row in rows %}
  <div class="panel panel-default" style="width:75%">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
        {{row["name"]}}</a>
      </h4>
    </div>
    <div id="collapse{{loop.index}}" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
