{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<form action = "{{ url_for('addrec') }}" method = "POST">
	<h1>Donate.</h1>
	<br>
	<input type = "text" name = "nm" class="form-control" placeholder="Name"></br>

	<textarea name = "add" class="form-control" placeholder="Address"></textarea><br>

	<input type = "text" name = "city" class="form-control" placeholder="City"><br>

	<input type = "text" name = "descrp" class="form-control" placeholder="descrpription"><br>

	<select name = "Type" class="form-control" placeholder="Type"> >
		<option value="food">Food</option>
		<option value="clothes">Clothes</option>
		<option value="hygiene">Hygiene</option>
		<option value="shelter">Sheleter</option>
		<option value="jobs">Jobs</option>
		<option value="transportation">Transportation</option>
	</select><br>
	<input type="hidden" value="donation" name="aid"/>
	<input type = "submit" value = "submit" /><br>
</form>
</div>
{% endblock %}
