{% extends "base.html" %}
{% block content %}
	<h1>Contact Info</h1>
	<p>
	<body link="blue">
	Poverty Resources <br>
	- <a href="http://www.publichealth.org/resources/poverty/">Public Health</a><br><br>


	Homelessness Help<br>
	- <a href="http://www.homelessshelterdirectory.org/cgi-bin/id/city.cgi?city=Bellingham&state=WA">Homeless Shelter Directory</a><br><br>


	Safe Meeting Places<br>
	- <a href="http://www.safetradestations.com/">Safetradestations.com</a><br><br>


	Software Support<br>
	- RPWA@wwu.edu
	</p>
{% endblock %}
