{% extends "base.html" %}
	{% block content %}
	<h1> Donate </h1>

      
	<div class="row marketing">
        <div class="col-lg-6">
		<a class="btn btn-lg btn-success" href="{{ url_for('listdonations',aid='donation')}}" role="button">All Donations</a></br><br/>
        	<a class="btn btn-lg btn-success" href="{{ url_for('showFood',aid='donation')}}" role="button">Food</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="{{ url_for('showHygiene',aid='donation')}}" role="button">Hygiene</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="{{ url_for('showOddjobs',aid='donation')}}" role="button">Odd Jobs</a>
        </div>

        <div class="col-lg-6">
			<a class="btn btn-lg btn-success" href="{{ url_for('showClothes',aid='donation')}}" role="button">Clothes</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="{{ url_for('showShelter',aid='donation')}}" role="button">Shelter</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="{{ url_for('showTransportation',aid='donation')}}" role="button">Transportation</a>
      	</div>
	</div>
	{% endblock %}

