{% extends "base.html" %}
{% block content %}
	<h1>Welcome</h1>
	<p>Resource Pairing Web Application will provide a way for these people to receive these necessary supplies from people who are in a position to provide donations. <br><br>
We provide a method for users to request items, and for donators to offer items. <br><br>
Users will be able to search for all items that have been requested and offered, they can offer to donate to the person in need or can receive the item that has been offered. <br><br>
Once there is a match the users will be able to communicate and will meet up to exchange the items, we have provided links to help our users stay safe under Tutorial and Contact.</p>
{% endblock %}
