{% extends "base.html" %}
{% block content %}

	<h1>Welcome to Resource Pairing Web Application</h1>

	<p>

	Resource Pairing Web Application will provide a way for people in need to receive these 	necessary supplies from people who are in a position to provide donations. <br><br>

	We provide a method for users to request items, and for donators to offer items. Click the respective buttons at the top of the screen and fill out the relevant information and others will be able to view this.<br><br>

	Users will be able to search for all items that have been requested and offered, by clicking on the buttons on the left part of the screen. <br><br>

	Once there is a match the users will be able to communicate and will meet up in person to exchange the items. We have provided links to help our users trade safely under Tutorial and Contact tabs on the top of the screen.

	</p>

{% endblock %}
