{% extends "base.html" %}
	{% block content %}
	<h1> Donate </h1>

      
	<div class="row marketing">
        <div class="col-lg-6">
        	<a class="btn btn-lg btn-success" href="showFood" role="button">Food</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="showHygiene" role="button">Hygiene</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="showOddjobs" role="button">Odd Jobs</a>
        </div>

        <div class="col-lg-6">
			<a class="btn btn-lg btn-success" href="showClothes" role="button">Clothes</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="showShelter" role="button">Shelter</a> <br/><br/>
			<a class="btn btn-lg btn-success" href="showTransportation" role="button">Transportation</a>
      	</div>
	</div>
	{% endblock %}

